
  <ul id='peeps'>
  <h1>Peeps</h1>
    <% @peeps.reverse.each do |peep| %>
       <li class='peep'>
        <div class='description'>
          <%= peep.content %>
        </div>
        <div class='source'>
           <%= peep.created_at.strftime("%m/%d/%y - %I:%M%p") %> | @<%= User.get(peep.user_id).username %>
        </div>
      </li>
      <section id='reply'>

        <%peep.replies.each do |reply| %>
        <li class='peep-reply'>
           <%= reply.message %>
        <div class='source'>
           <%= peep.created_at.strftime("%m/%d/%y- %I:%M%p") %> | @<%= User.get(reply.user_id).username %> </div>
        <% end %>
        </li>
            <% if current_user %>
            <form action="/reply/<%= peep.id %>/<%= current_user.id %>" method="post">
            <textarea name="reply" id="reply_text" cols="70" rows="2"></textarea>
            <input type="submit" value="Reply" class="add-peep button reply">
          </form>
        <% end %>

    <% end %>
    </section>

  </ul>
</div>


